.login-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    /* width: 800px; */
}

/* .form-set {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
} */